{% load static %}
<!DOCTYPE html>
<html
    lang="en"
    cl="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
    data-assets-path="../assets/" data-template="vertical-menu-template-free">
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
      <title>Dashboard</title>
      <meta name="description" content="" />
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <!-- DataTables-->
      <link href="{% static 'lib/DataTables/datatables.min.css' %}" rel="stylesheet">
      <script src="{% static 'lib/DataTables/datatables.min.js' %}"></script>
      <!-- Importancion del IziToast--> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- JQuery Validate-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" href="{% static 'assets/img/icon.png' %}" />
      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet"/>
      <link rel="stylesheet" href="{% static 'plantilla/assets/vendor/fonts/boxicons.css' %}" />
  
      <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
      <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
      <!-- Core CSS -->
      <link rel="stylesheet" href="{% static 'plantilla/assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
      <link rel="stylesheet" href="{% static 'plantilla/assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
      <link rel="stylesheet" href="{% static 'plantilla/assets/css/demo.css' %}" />
  
      <!-- Vendors CSS -->
      <link rel="stylesheet" href="{% static 'plantilla/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
  
      <link rel="stylesheet" href="{% static 'plantilla/assets/vendor/libs/apex-charts/apex-charts.css' %}" />
      <!-- Helpers -->
      <script src="{% static 'plantilla/assets/vendor/js/helpers.js' %}"></script>
      <script src="{% static 'plantilla/assets/js/config.js' %}"></script>
      
      <!-- File Inputs Libreria-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.0/js/fileinput.min.js" integrity="sha512-ZOU4ZJnGlvyQ76zoWdOs4Yb7VnhJPRKkssorqt36m9/NDmHs0FrWteaSAsODgSJfBke9vAPLxpO7b1fb2Bmevw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.0/css/fileinput.min.css" integrity="sha512-cvhwKyzOpC1m0Ps5PFVput79SWoJ98fkcV52QEr3aJ1A6hfE6N1wzWFtGH8iYOHp/MHOg6LDlX5ljHoi9BS5SQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

      <!-- Select2 CSS -->
      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
      <!-- Select2 JS -->
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    </head>
  
    <body>
      <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
          <!-- Menu -->
          <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
              <a href="#" class="app-brand-link">
                <img src="{% static 'assets/img/logo.png' %}" alt="Logo" class="img-fluid" height="20">                  
              </a>
              <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
              </a>
            </div>
  
            <div class="menu-inner-shadow"></div>
            <br>
            <ul class="menu-inner py-1">
              <!-- Dashboard -->
              <li class="menu-item active">
                <a href="{% url 'dash' %}" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-home-circle"></i>
                  <div data-i18n="Analytics">Dashboard</div>
                </a>
              </li>
  
              <!-- Layouts -->
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Gestión de Propietarios  </span>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-layout"></i>
                  <div data-i18n="Layouts">Propietarios</div>
                </a>
  
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="{% url 'lista_propietario' %}" class="menu-link">
                      <div data-i18n="Without menu">Lista Propietarios</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="{% url 'nuevo_propietario' %}" class="menu-link">
                      <div data-i18n="Without navbar">Nuevo Propietario</div>
                    </a>
                  </li>
                </ul>
              </li>
  
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Gestión de Inmuebles</span>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-dock-top"></i>
                  <div data-i18n="Account Settings">Inmuebles</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="{% url 'lista_inmueble' %}" class="menu-link">
                      <div data-i18n="Account">Lista de Inmueble</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="{% url 'nuevo_inmueble' %}" class="menu-link">
                      <div data-i18n="Account">Nuevo Inmueble</div>
                    </a>
                  </li>
                </ul>
              </li>
              <!-- Reformas start -->
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-dock-top"></i>
                  <div data-i18n="Account Settings">Reformas</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="{% url 'lista_reforma' %}" class="menu-link">
                      <div data-i18n="Account">Lista de Reformas</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="{% url 'nueva_reforma' %}" class="menu-link">
                      <div data-i18n="Account">Nuevo Reforma</div>
                    </a>
                  </li>
                </ul>
              </li>
              <!-- End Reformas-->
              <!-- Cotizacion start-->
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Cotizaciones de Remodelaciones</span>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-dock-top"></i>
                  <div data-i18n="Account Settings">Cotizaciones</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="{% url 'listado_cotizacion' %}" class="menu-link">
                      <div data-i18n="Account">Lista de Cotizaciones</div>
                    </a>
                  </li>
                </ul>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="{% url 'nueva_cotizacion' %}" class="menu-link">
                      <div data-i18n="Account">Nueva Cotización</div>
                    </a>
                  </li>
                </ul>
              </li>
              <!-- end Cotizacion-->
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Autenticación</span>
              </li>
              <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                  <div data-i18n="Authentications">Autenticaciones</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="#" class="menu-link" target="_blank">
                      <div data-i18n="Basic">Login</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#" class="menu-link" target="_blank">
                      <div data-i18n="Basic">Register</div>
                    </a>
                  </li>
                  <!--<li class="menu-item">
                    <a href="#" class="menu-link" target="_blank">
                      <div data-i18n="Basic">Forgot Password</div>
                    </a>
                  </li> -->
                </ul>
              </li>
              
            </ul>
          </aside>
          <!-- / Menu -->
          <!-- Layout container -->
          <div class="layout-page">
            <!-- Navbar -->
            <nav
              class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
              id="layout-navbar">
              <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                  <i class="bx bx-menu bx-sm"></i>
                </a>
              </div>
  
              <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                <!-- Search -->
                <div class="navbar-nav align-items-center">
                  <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <!--<input type="text"
                      class="form-control border-0 shadow-none"
                      placeholder="Buscar..."
                      aria-label="Buscar..."
                    /> -->
                  </div>
                </div>
                <!-- /Search -->
  
                <ul class="navbar-nav flex-row align-items-center ms-auto">
                  <!-- User -->
                  <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                      <div class="avatar avatar-online">
                        <img src="{% static 'assets/img/avatar.png' %}" alt class="w-px-40 h-auto rounded-circle" />
                      </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="#">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar avatar-online">
                                <img src="{% static 'assets/img/avatar.png' %}" alt class="w-px-40 h-auto rounded-circle" />
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <span class="fw-semibold d-block">Dani</span>
                              <small class="text-muted">Admin</small>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <i class="bx bx-user me-2"></i>
                          <span class="align-middle">Mi Perfil</span>
                        </a>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                      </li>
                      <li>
                        <a class="dropdown-item" href="/">
                          <i class="bx bx-power-off me-2"></i>
                          <span class="align-middle">Log Out</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <!--/ User -->
                </ul>
              </div>
            </nav>
            <!-- / Navbar -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
              <!-- Content -->

              <div class="container-xxl flex-grow-1 container-p-y">
                {% block body %}


                {% endblock %}
              </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>

        </div>

      </div>
      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    {% if messages %}
      {% for message in messages %}
      <script>
          document.addEventListener("DOMContentLoaded", function() {
              var tag = "{{ message.tags }}";
              
              if (tag && iziToast[tag]) {
                  iziToast[tag]({
                      title: "{{ message.tags|title }}",
                      message: "{{ message }}",
                      position: "topRight"
                  });
              }
          });
      </script>
      {% endfor %}
    {% endif %}
    <script>
      function confirmarEliminacion(formId) {
        iziToast.question({
            timeout: 20000,
            close: false,
            overlay: true,
            displayMode: 'once',
            title: 'Confirmar Eliminación',
            message: '¿Estás seguro de que deseas eliminar este elemento?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    document.getElementById(formId).submit();
                }, true],
                ['<button>NO</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                }]
            ]
        });
      }
    </script>
    <script src="{% static 'plantilla/assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'plantilla/assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'plantilla/assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'plantilla/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'plantilla/assets/vendor/js/menu.js' %}"></script>
    <!-- Vendors JS -->
    <script src="{% static 'plantilla/assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'plantilla/assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'plantilla/assets/js/dashboards-analytics.js' %}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>    
</body>
</html>
